@import url("https://fonts.googleapis.com/css?family=Oswald:400,500,600|Roboto&display=swap");

.logoContainer {
  margin-bottom: 1.5rem;
  /* to center items of div */
  align-items: center;
  height: 100%;
  justify-content: center;
}

.logoText {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left;
}

.logoIcon {
  margin-right: 0.9rem;
  width: 4rem;
}

.logoText__cat {
  color: #df2020 !important;
}

.bc__toptext {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}

.bc__toptext--red {
  color: #df2020;
  font-size: 1.5rem;
}

.bc__blockedcategories {
  list-style: none;
}

.checkbox-group {
  text-align: left !important;
}

.input-btn {
  color: #fff !important;
  background-color: black !important;
  border-color: black !important;
  border-radius: 10px !important;
}
