.blockedcategories {
  list-style: none;
}

body {
  min-width: 300px;
}

.linking {
  cursor: pointer;
  color: blue;
}

.backButton {
  cursor: pointer;
}

.flexing {
  display: flex;
}

.flex1 {
  flex: 1;
}

.flex2 {
  flex: 15;
}
